{% extends 'base.html.twig' %}

{% block body %}
    <h1>project list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Position</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td><a href="{{ path('proiecte_show', { 'id': project.id }) }}">{{ project.id }}</a></td>
                <td>{{ project.firstname }}</td>
                <td>{{ project.lastname }}</td>
                <td>{{ project.position }}</td>
                <td>{{ project.email }}</td>
                <td>{{ project.telephone }}</td>
                <td>{{ project.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proiecte_show', { 'id': project.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proiecte_edit', { 'id': project.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('website_projects_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
