{% extends 'base.html.twig' %}

{% block body %}
    <h1>Event list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Type</th>
                <th>Link</th>
                <th>Date</th>
                <th>Content</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('evenimente_show', { 'id': event.id }) }}">{{ event.id }}</a></td>
                <td>{{ event.title }}</td>
                <td>{{ event.type }}</td>
                <td>{{ event.link }}</td>
                <td>{% if event.date %}{{ event.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ event.content }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('evenimente_show', { 'id': event.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('evenimente_edit', { 'id': event.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('evenimente_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
