{% extends 'base.html.twig' %}

{% block body %}
    <h1>Member list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nume</th>
                <th>Country</th>
                <th>City</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Website</th>
                <th>Facebook</th>
                <th>LinkedIn</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partner in partners %}
            <tr>
                <td><a href="{{ path('parteneri_show', { 'id': partner.id }) }}">{{ partner.id }}</a></td>
                <td>{{ partner.name }}</td>
                <td>{{ partner.country }}</td>
                <td>{{ partner.city }}</td>
                <td>{{ partner.email }}</td>
                <td>{{ partner.telephone }}</td>
                <td>{{ partner.website }}</td>
                <td>{{ partner.facebook }}</td>
                <td>{{ partner.linkedIn }}</td>
                <td>{{ partner.type }}</td>
                <td>{{ partner.description }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('parteneri_show', { 'id': partner.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('parteneri_edit', { 'id': partner.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('parteneri_create') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
