{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block custom_metas %}
    <meta property="og:url"           content="http://www.romanianit.com/celebro" />
    <meta property="og:type"          content="mobile application" />
    <meta property="og:title"         content="Celebro App - by Romanian IT" />
    <meta property="og:description"   content="Proiectul își propune promovarea patrimoniului cultural românesc prin metode originale. Este vorba de o aplicație gratuită care oferă o 'hartă românească a Parisului' prin geolocalizarea adreselor si locurilor prin care au trecut personalitățile cunoscute sau cele care au ramas in anonimat pana acum." />
    <meta property="og:image"         content="http://www.romanianit.com/bundles/website/images/celebro/meta_image.jpg" />

    <meta name="twitter:card" content="Celebro - by Romanian IT">
    <meta name="twitter:site" content="@romanian_it">
    <meta name="twitter:title" content="Celebro - by Romanian IT">
    <meta name="twitter:description" content="Promovarea patrimoniului cultural românesc prin metode originale. Este vorba de o aplicație gratuită care oferă o 'hartă românească a Parisului' prin geolocalizarea adreselor si locurilor prin care au trecut personalitățile cunoscute sau cele care au ramas in anonimat pana acum.">
    <meta name="twitter:creator" content="@romanian_it">
    <meta name="twitter:image" content="http://www.romanianit.com/bundles/website/images/celebro/meta_image.jpg">
    <meta name="twitter:domain" content="www.romanianit.com">
{% endblock %}

{% block menu_class %} navbar-shrink {% endblock %}

{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li><a href="{{ path('website_celebro') }}" class="">RO</a></li>
        <li><a href="{{ path('website_celebro_fr') }}" class="">FR</a></li>
    </ul>
{% endblock %}

{% block custom_styles %}
    {% stylesheets 'bundles/website/font-awesome/css/font-awesome.min.css'
    output='fontawesome' filter='cssrewrite' -%}
    <link rel="stylesheet" type="text/css" media="screen, print" href="{{ asset_url }}" />
    {% endstylesheets -%}
{% endblock %}

{% block fb_event_tracking %}
    fbq('track', 'ViewContent');
{% endblock %}

{% block custom_script %}
    {% include 'WebsiteBundle::Partials/_twitter_js_async.html.twig' %}
{% endblock %}

{% block logo %}
    <!-- Logo
    ============================================= -->
    <div class="logo_celebro" id="logo">
        <a href="#" class="standard-logo" data-dark-logo="/bundles/website/images/celebro/logo.png">
            <img src="/bundles/website/images/celebro/logo.png" alt="Canvas Logo">
        </a>
        <a href="#" class="retina-logo" data-dark-logo="/bundles/website/images/celebro/logo@2x.png">
            <img src="/bundles/website/images/celebro/logo@2x.png" alt="Canvas Logo">
        </a>
    </div><!-- #logo end -->
{% endblock %}


{% block content %}

    <section class="tcenter" style="padding: 150px 0px 120px; background-image: url('/bundles/website/images/celebro/cover_photo.jpg'); background-size: cover; background-position: top center; background-repeat: no-repeat;" data-stellar-background-ratio="0.4">

        <div class="mentorship-hero">
            <div class="container clearfix">
                <h1 class="yellow-celebro uppercase">Celebro</h1>
                <h2 class="white">O istorie de buzunar prin Parisul românilor</h2>

                <a target="_blank" href="https://www.facebook.com/events/379489589218873/" class="button button-desc button-border button-rounded center">
                    <div>Lansare oficială
                        {#<span>Află cum poți contribui</span>#}
                    </div>
                </a>
            </div>
        </div>

    </section>

    <section>
        <div class="promo promo-border banner-partnership">
            <div class="container clearfix">
                <div class="row">
                    <div class="small-12 large-6 text-center">
                        <div class="small-12 large-3 sponsored-by-text">
                            <span> Dezvoltat de </span>
                            <a target="_blank" href="http://www.romanianit.com">
                                <img class="sponsored-by-logo" src="{{ asset('/bundles/website/images/logo@2x.png') }}" alt="Romanian IT" />
                            </a>
                            <span> în parteneriat cu</span>
                            <a target="_blank" href="http://www.icr.ro/">
                                <img class="sponsored-by-logo" src="{{ asset('/bundles/website/images/celebro/partners/logo_icr.jpg') }}" alt="Romanian IT" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="adreseaza">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <div class="heading-block ">
                        <h2>Despre proiect</h2>
                    </div>
                    <p>
                        Proiectul își propune promovarea patrimoniului cultural românesc prin metode originale. Este vorba despre o aplicație gratuită care oferă o 'hartă românească a Parisului' prin geolocalizarea adreselor și a locurilor prin care au trecut românii cunoscuti sau cei care au rămas în anonimat până acum.
                    </p>
                    <p>
                        Sunteți prin Paris și vreți să aflați unde a fost făcută celebra poză în care apar Eliade, Cioran și Ionescu ? Sau unde era cafeneaua Riche, în care aveau loc dineurile impresioniștilor finanțate de susținătorul lor, Georges de Bellio sau Gheorghe Bellu ? Când treceți pe la Odeon o să aflați și despre Jean Yonnel, profesor de dicție al generalului de Gaulle.
                    </p>
                </div>


                <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6 ">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/-BvMdWTlg6I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="adreseaza">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <h3 class="uppercase">
                        Obiective
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>cresterea vizibilității patrimoniului cultural al României; </li>
                        <li><i class="icon-ok-sign"></i>crearea unei istorii de buzunar, accesibilă tuturor; </li>
                        <li><i class="icon-ok-sign"></i>înnoirea unei imagini pozitive a românilor din Paris; </li>
                        <li><i class="icon-ok-sign"></i>implicarea atât a unui public tânar cât și a celui adult; </li>
                        <li><i class="icon-ok-sign"></i>prezentarea legăturii profunde dintre cele două culturi: franceză și română. </li>

                    </ul>
                </div>


                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <h3 class="uppercase">
                        Public țintă
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>români din Paris, turiști sau rezidenți;</li>
                        <li><i class="icon-ok-sign"></i>francezi;</li>
                        <li><i class="icon-ok-sign"></i>alte nationalități interesate de cultura noastră;</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="aplicatie">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_1.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        ISTORIE DE BUZUNAR
                    </h3>
                    <p class="short-text-area">
                        Aplicația ne va permite să vedem locuri din apropiere, plimbări propuse sau să construim propriul traseu.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_2.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        RECOMANDĂRI
                    </h3>
                    <p class="short-text-area">
                        Vom putea accesa trasee recomandate, construite în funcție de timp sau tematică.
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_3.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        GEOLOCALIZARE
                    </h3>
                    <p class="short-text-area">
                        Indicarea adreselor prin geolocalizare va fi însoțită de o descriere, de poze și, eventual, muzică sau filme.
                    </p>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="activities">
        <div class="container clearfix">
            <div class="heading-block center">
                <h2>ACTIVITĂȚI</h2>
                <span>
                    Din august până în noiembrie 2017, am făcut vizite ghidate.<br>
                    Mai multe, pe pagina noastră Facebook: <a target="_blank" href="https://www.facebook.com/leParisdesRoumains">Le Paris des Roumains</a>
                </span>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 bottommargin-lg topmargin text-center">
                <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/activitati.jpg') }}" alt="" >
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="members">
        <div class="container clearfix">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="heading-block ">
                    <h2>MEMBRII PROIECTULUI</h2>
                </div>

                <p>Inițiatori: Maria și Michiel</p>
                <p><strong>Romanian IT</strong>: Valentin, Oana, Adrian, Andrei, Bogdan și Ijay</p>
                <p>Jean-Yves Conrad, autorul cărții “Paris, capitala... României”</p>
                <p class="italic">Daca aveți informații sau poze inedite, vă rugăm să ne scrieți la adresa <a href="mailto:roumanie.paris@gmail.com">roumanie.paris@gmail.com</a></p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 topmargin">
                <p>Proiect susținut de Ambasada României în Republica Franceză</p>
                <img class="max-w-70 bottommargin"  src="{{ asset('/bundles/website/images/celebro/logo_ambasada.jpg') }}" alt="" >
            </div>
            <div class="line"></div>
        </div>
    </section>

    <div class="container clearfix">
        <div class="clear"></div>
        <div class="heading-block center">
            <h2>Susținători crowdfunding</h2>
        </div>
        <ul class="clients-grid grid-6 nobottommargin clearfix">
            <li></li>
            <li><a target="_blank" href="https://www.awesomefoundation.org/fr/chapters/paris"><img src="/bundles/website/images/celebro/partners/logo_awesome-foundation.png" alt="Awesome Founation"></a></li>
            <li><a target="_blank" href="http://caprioara-danseroumaine.blogspot.fr/"><img src="/bundles/website/images/celebro/partners/logo_caprioara.png" alt="Caprioara"></a></li>
            <li><a target="_blank" href="http://sansystems.ro/"><img src="/bundles/website/images/celebro/partners/logo_san_systems.jpg" alt="Ion"></a></li>
            <li></li>
            <li></li>
        </ul>
        <div class="line"></div>
    </div>

    <section class="info">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <div class="heading-block ">
                        <h2>ȘTIAI CĂ ...</h2>
                    </div>

                    <ul class="iconlist">
                        <li>
                            <i class="icon-ok-sign"></i>
                            Sainte-Geneviève, protectoarea Parisului, este înfățișată în interiorul Panteonului după modelul Mariei Cantacuzino, soția pictorului ?
                        </li>
                        <br>
                        <li>
                            <i class="icon-ok-sign"></i>
                            Carol Davila se numea Charles D’Avila și era de origine franco-italiană?
                        </li>
                        <br>
                        <li>
                            <i class="icon-ok-sign"></i>
                            Primul zbor cu un aparat mai greu decât aerul, al lui Traian Vuia, s-a petrecut pe câmpia Montesson din jurul Parisului, în 1906 ?
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6  col-lg-6 topmargin">
                    <img class="bottommargin"  src="{{ asset('/bundles/website/images/celebro/stiati_ca.jpg') }}" alt="" >
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="support">
        <div class="container clearfix text-center">
            <div class="heading-block center">
                <h2>DE CE AVEM NEVOIE DE AJUTORUL TĂU?</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/de_ce_ajutor.jpg') }}" alt="" >
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 1. DEZVOLTARE</h3>
                <p>Dezvoltarea aplicației pentru Android, în prima fază, și apoi pentru iOS.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 2. DOCUMENTARE</h3>
                <p>Documentarea si achiziționarea drepturilor de autor ale pozelor folosite.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 3. PROMOVARE</h3>
                <p>Niciun proiect nu este util dacă nimeni nu știe că există.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 4. EXTINDERE</h3>
                <p>Dezvoltarea ideii în alte mari orașe și crearea unei comunități.</p>
            </div>

            {#<a target="_blank" href="https://docs.google.com/forms/d/141-E7ivQEyDdOruxD1aI1C2LHx2v28lCSse_e7tL0nE/viewform" class="button button-desc button-border button-rounded center">#}
                {#<div>Susține proiectul<span>Află cum poți contribui</span></div>#}
            {#</a>#}

            <div class="line"></div>
        </div>
    </section>

    <section id="sponsor" class="support">
        <div class="container clearfix text-center">
            <div class="heading-block center">
                <h2>SUSȚINE PROIECTUL</h2>
                <span>
                    Poți să contribui la dezvoltarea proiectului. <br>
                </span>
            </div>

            <div class="col-sm-12 col-md-12  col-lg-12">
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="9BJCZPQ2HARZJ">
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>
            </div>
            <div class="clearfix"></div>

            <h4>Mulțumim.</h4>

            <div class="line"></div>
        </div>
    </section>



    <section class="share">
        <div class="container clearfix text-center bottommargin">
            <h3 class="uppercase"> DĂ MAI DEPARTE ȘI VORBEȘTE DESPRE PROIECT</h3>

            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center col-md-offset-4 col-lg-offset-4 text-right">
                <div class="fb-share-button"
                     data-href="https://romanianit.com/celebro"
                     data-layout="button_count"
                     data-size="large"
                     data-mobile-iframe="true">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fromanianit.com%2Fcelebro%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Distribuie</a>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div>
                    <a class="twitter-share-button"
                       href="https://romanianit.com/celebro?text=Celebro - O istorie de buzunar prin Parisul românilor"
                       data-size="large">
                        Tweet</a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}