{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block custom_metas %}
    <meta property="og:url"           content="https://romanianit.com/fr/celebro" />
    <meta property="og:type"          content="mobile application" />
    <meta property="og:title"         content="Celebro App - by Romanian IT" />
    <meta property="og:description"   content="Le projet vise à promouvoir le patrimoine culturel roumain par des méthodes originales. Il s’agit d’une application gratuite qui fournit une «carte roumaine de Paris» en géolocalisant les adresses et les endroits par lesquels sont passés les roumains célèbres ou ceux qui sont restés anonymes jusqu'à présent." />
    <meta property="og:image"         content="http://www.romanianit.com/bundles/website/images/celebro/meta_image_fr.jpg" />

    <meta name="twitter:card" content="Celebro - by Romanian IT">
    <meta name="twitter:site" content="@romanian_it">
    <meta name="twitter:title" content="Celebro - by Romanian IT">
    <meta name="twitter:description" content="Le projet vise à promouvoir le patrimoine culturel roumain par des méthodes originales. Il s’agit d’une application gratuite qui fournit une «carte roumaine de Paris» en géolocalisant les adresses et les endroits par lesquels sont passés les roumains célèbres ou ceux qui sont restés anonymes jusqu'à présent.">
    <meta name="twitter:creator" content="@romanian_it">
    <meta name="twitter:image" content="http://www.romanianit.com/bundles/website/images/celebro/meta_image_fr.jpg">
    <meta name="twitter:domain" content="www.romanianit.com">
{% endblock %}

{% block menu_class %} navbar-shrink {% endblock %}

{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li><a href="{{ path('website_celebro') }}" class="">RO</a></li>
        <li><a href="{{ path('website_celebro_fr') }}" class="">FR</a></li>
    </ul>
{% endblock %}

{% block custom_styles %}
    {% stylesheets 'bundles/website/font-awesome/css/font-awesome.min.css'
    output='fontawesome' filter='cssrewrite' -%}
    <link rel="stylesheet" type="text/css" media="screen, print" href="{{ asset_url }}" />
    {% endstylesheets -%}
{% endblock %}

{% block custom_script %}
    {% include 'WebsiteBundle::Partials/_twitter_js_async.html.twig' %}
{% endblock %}

{% block fb_event_tracking %}
    fbq('track', 'ViewContent');
{% endblock %}

{% block fb_lang %}<script>var lang="fr_FR"</script>{% endblock %}

{% block logo %}
    <!-- Logo
    ============================================= -->
    <div class="logo_celebro" id="logo">
        <a href="#" class="standard-logo" data-dark-logo="/bundles/website/images/celebro/logo.png">
            <img src="/bundles/website/images/celebro/logo.png" alt="Canvas Logo">
        </a>
        <a href="#" class="retina-logo" data-dark-logo="/bundles/website/images/celebro/logo@2x.png">
            <img src="/bundles/website/images/celebro/logo@2x.png" alt="Canvas Logo">
        </a>
    </div><!-- #logo end -->
{% endblock %}


{% block content %}
    <div id="twitter-wjs"></div>

    <section class="tcenter" style="padding: 150px 0px 120px; background-image: url('/bundles/website/images/celebro/cover_photo.jpg'); background-size: cover; background-position: top center; background-repeat: no-repeat;" data-stellar-background-ratio="0.4">

        <div class="mentorship-hero">
            <div class="container clearfix">
                <h1 class="yellow-celebro uppercase">Celebro</h1>
                <h2 class="white">Une histoire de poche sur le Paris des Roumains</h2>

                <a target="_blank" href="https://www.ulule.com/celebro/" class="button button-desc button-border button-rounded center">
                    <div>
                        Je soutiens
                        {#<span>Află cum poți contribui</span>#}
                    </div>
                </a>
            </div>
        </div>

    </section>

    <section>
        <div class="promo promo-border bottommargin banner-partnership">
            <div class="container clearfix">
                <div class="row">
                    <div class="small-12 large-6 text-center">
                        <div class="small-12 large-3 sponsored-by-text">
                            <span> Projet soutenu par </span>
                            <a target="_blank" href="http://www.romanianit.com">
                                <img class="sponsored-by-logo" src="{{ asset('/bundles/website/images/logo@2x.png') }}" alt="Romanian IT" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="adreseaza">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <div class="heading-block ">
                        <h2>A propos</h2>
                    </div>
                    <p>
                        Le projet vise à promouvoir le patrimoine culturel roumain par des méthodes originales. Il s’agit d’une application gratuite qui fournit une «carte de la Roumaine à Paris» en géolocalisant les adresses et les endroits par lesquels sont passés les roumains célèbres ou ceux qui sont restés anonymes jusqu'à présent.
                    </p>
                    <p>
                        Vous êtes à Paris et vous voulez savoir où a été prise la fameuse photo dans laquelle Eliade, Cioran et Ionesco apparaissent? Ou peut-être où se trouvait le café Riche qui accueillait les dîners des impressionnistes, financés par leur mécène Georges de Bellio ou Gheorghe Bellu? Quand vous irez au théâtre de l’Odéon, vous allez découvrir le comédien roumain Jean Yonnel, professeur de diction du général de Gaulle.
                    </p>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6  col-lg-6">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/amkhTlJvGQ0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>


    <section class="adreseaza">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <h3 class="uppercase">
                        Objectifs
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>augmenter la visibilité du patrimoine culturel de la Roumanie; </li>
                        <li><i class="icon-ok-sign"></i>créer une histoire de poche accessible à tous;</li>
                        <li><i class="icon-ok-sign"></i>renouveler une image positive des Roumains à Paris; </li>
                        <li><i class="icon-ok-sign"></i>impliquer un public jeune et adulte; </li>
                        <li><i class="icon-ok-sign"></i>présenter le lien profond des deux cultures: française et roumaine. </li>

                    </ul>
                </div>


                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <h3 class="uppercase">
                        Public cible
                    </h3>

                    <ul class="iconlist">
                        <li><i class="icon-ok-sign"></i>Roumains à Paris, touristes ou résidents;</li>
                        <li><i class="icon-ok-sign"></i>Français;</li>
                        <li><i class="icon-ok-sign"></i>d'autres nationalités intéressées par notre culture;</li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="aplicatie">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_1.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        HISTOIRE DE POCHE
                    </h3>
                    <p class="short-text-area">
                        L'application nous permettra de voir les points d’intérêt à proximité, les promenades proposées ou de construire notre propre itinéraire
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_2.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        RECOMMANDATIONS
                    </h3>
                    <p class="short-text-area">
                        Nous pourrons accéder aux itinéraires recommandés, construits en fonction du temps ou de la thématique
                    </p>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4 bottommargin-lg topmargin text-center">
                    <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/phone_3.jpg') }}" alt="" class="fadeInLeftBig animated">

                    <h3 class="uppercase">
                        GÉOLOCALISATION
                    </h3>
                    <p class="short-text-area">
                        Les adresses seront accompagnées d'une description, d'images et même de musique ou de films
                    </p>
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="activities">
        <div class="container clearfix">
            <div class="heading-block center">
                <h2>Activités</h2>
                <span>
                    D'août à novembre 2017, nous avons fait des visites guidées.<br>
                    Pour savoir plus, allez sur notre page Facebook: <a target="_blank" href="https://www.facebook.com/leParisdesRoumains">Le Paris des Roumains</a>
                </span>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 bottommargin-lg topmargin text-center">
                <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/activitati.jpg') }}" alt="" >
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="members">
        <div class="container clearfix">
            <div class="col-sm-12 col-md-6 col-lg-6 ">
                <div class="heading-block ">
                    <h2>LES MEMBRES DU PROJET</h2>
                </div>

                <p>Initiateurs: Maria et Michiel</p>
                <p><strong>Romanian IT</strong>: Valentin, Oana, Adrian, Andrei, Bogdan et Ijay</p>
                <p>Jean-Yves Conrad, auteur du livre “Roumanie, capitale…Paris”</p>
                <p class="italic">Si vous avez de nouvelles informations ou des images, veuillez nous écrire à <a href="mailto:roumanie.paris@gmail.com">roumanie.paris@gmail.com</a></p>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 topmargin">
                <p>Projet soutenu par l'Ambassade de Roumanie en République Française</p>
                <img class="max-w-70 bottommargin"  src="{{ asset('/bundles/website/images/celebro/logo_ambasada.jpg') }}" alt="" >
            </div>
            <div class="line"></div>
        </div>
    </section>

    <div class="container clearfix">
        <div class="clear"></div>
        <div class="heading-block center">
            <h2>Partenaires</h2>
        </div>
        <ul class="clients-grid grid-6 nobottommargin clearfix">
            <li></li>
            <li><a target="_blank" href="http://www.icr.ro/"><img src="/bundles/website/images/celebro/partners/logo_icr.jpg" alt="Caprioara"></a></li>
            <li><a target="_blank" href="https://www.awesomefoundation.org/"><img src="/bundles/website/images/celebro/partners/logo_awesome-foundation.png" alt="Awesome Founation"></a></li>
            <li><a target="_blank" href="#"><img src="/bundles/website/images/celebro/partners/logo_caprioara.png" alt="Caprioara"></a></li>
            <li><a target="_blank" href="#"><img src="/bundles/website/images/celebro/partners/logo_ion.png" alt="Ion"></a></li>
        </ul>
        <div class="line"></div>
    </div>

    <section class="info">
        <div class="container clearfix">
            <div class="row">
                <div class="col-sm-12 col-md-6  col-lg-6 ">
                    <div class="heading-block ">
                        <h2>Savez-vous que…</h2>
                    </div>

                    <ul class="iconlist">
                        <li>
                            <i class="icon-ok-sign"></i>
                            Sainte-Geneviève, la protectrice de Paris, est représentée à l'intérieur du Panthéon selon le modèle de Maria Cantacuzino, l'épouse du peintre Puvis de Chavannes?
                        </li>
                        <br>
                        <li>
                            <i class="icon-ok-sign"></i>
                            Carol Davila, le père de la médecine roumaine,  s'appelait Charles D'Avila et il était d'origine franco-italienne?
                        </li>
                        <br>
                        <li>
                            <i class="icon-ok-sign"></i>
                            le premier vol avec un appareil plus lourd que l'air, de Traian Vuia, eut lieu sur la plaine de Montesson, près de Paris, en 1906?
                        </li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-6  col-lg-6 topmargin">
                    <img class="bottommargin"  src="{{ asset('/bundles/website/images/celebro/stiati_ca.jpg') }}" alt="" >
                </div>
            </div>
            <div class="line"></div>
        </div>
    </section>

    <section class="support">
        <div class="container clearfix text-center">
            <div class="heading-block center">
                <h2>Pourquoi avons-nous besoin de votre aide?</h2>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-center">
                <img class="bottommargin" data-animate="fadeInLeftBig" src="{{ asset('/bundles/website/images/celebro/de_ce_ajutor.jpg') }}" alt="" >
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 1. DÉVELOPPEMENT</h3>
                <p>Développement de l'application pour Android, en première phase, puis pour iOS.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 2. RECHERCHE</h3>
                <p>Documentation et acquisition des droits d'auteur des photos utilisées.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 3. PROMOTION</h3>
                <p>Aucun projet n'est utile si personne ne le connaît.</p>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 text-center">
                <h3 class="uppercase"> 4. EXTENSION</h3>
                <p>Développement de l'idée dans d'autres grandes villes et la création d’une communauté.</p>
            </div>

            {#<a target="_blank" href="https://docs.google.com/forms/d/141-E7ivQEyDdOruxD1aI1C2LHx2v28lCSse_e7tL0nE/viewform" class="button button-desc button-border button-rounded center">#}
                {#<div>Susține proiectul<span>Află cum poți contribui</span></div>#}
            {#</a>#}

            <div class="line"></div>
        </div>
    </section>

    <section id="sponsor" class="support">
        <div class="container clearfix text-center">
            <div class="heading-block center">
                <h2>SOUTENEZ LE PROJET</h2>
                <span>
                    Vous pouvez contribuer par la campagne de crowdfunding ou par le mécénat.
                </span>
            </div>

            <div class="col-sm-12 col-md-6  col-lg-6 ">
                <h4>Nous avons lancé la campagne de crowdfunding</h4>

                <a target="_blank" href="https://www.ulule.com/celebro/" class="button button-desc button-border button-rounded center">
                    <div>
                        Je soutiens
                    </div>
                </a>
            </div>

            <div class="col-sm-12 col-md-6  col-lg-6 text-left">
                <h4>Les infos de l'association RomanianIT</h4>

                <p>
                    Nom de l'association: Asociatia Romanian IT Global Community<br>
                    Code identification fiscale roumain: 36871250<br>
                    Compte bancaire RON (IBAN): RO 47 BTRL RONCRT0375444101<br>
                    Compte bancaire EURO(IBAN): RO 94 BTRL EURCRT0375444101<br>
                    Lieu sociale: B-dul Nicolae Titulescu, Nr. 14, bl. P6, ap. 42, Cluj-Napoca, Roumanie<br><br>

                    <a target="_blank" href="{{ path('website_download', {'filename':'Contrat_de_sponsoring.docx'}) }}">
                        <i class="fa fa-3x fa-download"></i>   Téléchargez et complétez le formulaire de mécénat
                    </a>
                    <br><br>

                    Pour plus de détails, vous pouvez nous contacter via
                    <a target="_blank"href="https://www.facebook.com/romanianit/">Facebook Messenger</a>
                    ou par email à <a href="mailto:office@romanianit.com">office@romanianit.com</a>

                </p>
            </div>

            <h4>Nous vous remercions.</h4>

            <div class="line"></div>
        </div>
    </section>



    <section class="share">
        <div class="container clearfix text-center bottommargin">
            <h3 class="uppercase"> PARTAGEZ</h3>

            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2 text-center col-md-offset-4 col-lg-offset-4 text-right">
                <div class="fb-share-button"
                     data-href="https://romanianit.com/fr/celebro"
                     data-layout="button_count"
                     data-size="large"
                     data-mobile-iframe="true">
                    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fromanianit.com%2Ffr%2Fcelebro%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partagez</a>
                </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-left">
                <div>
                    <a class="twitter-share-button"
                   href="https://romanianit.com/fr/celebro?text=Celebro - Une histoire de poche sur le Paris des Roumains"
                   data-size="large">
                    Tweet</a>
                </div>
            </div>
            {#<div class="col-sm-12 col-md-12 col-lg-12 text-center col-md-offset-5 col-lg-offset-5">#}
                {#<a target="_blank" href="https://www.facebook.com/leParisdesRoumains" class="social-icon si-large si-borderless si-facebook">#}
                    {#<i class="icon-facebook"></i>#}
                    {#<i class="icon-facebook"></i>#}
                {#</a>#}

                {#<a target="_blank" href="https://twitter.com/romanian_it" class="social-icon si-large si-borderless si-twitter">#}
                    {#<i class="icon-twitter"></i>#}
                    {#<i class="icon-twitter"></i>#}
                {#</a>#}
            {#</div>#}
        </div>
    </section>
{% endblock %}