{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block menu_class %} navbar-shrink {% endblock %}


{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li>
            <a class="page-scroll" href="{{ path('website_homepage') }}">{{ 'menu.home' | trans() }}</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_center_events', {'id': center.id}) }}">{{ 'menu.events' | trans() }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}

    <section id="page-title">
        <div class="container clearfix">
            <h1>Membri</h1>
            <span>Together we can go far</span>
            <ol class="breadcrumb">
                <li><a href="/">{{ 'menu.home' | trans() }}</a></li>
                <li><a href="{{ path('website_zone', {'id': center.zone.id, 'name': center.zone.name|lower}) }}">{{ center.zone.name }}</a></li>
                <li class="active">Membri</li>
            </ol>
        </div>
    </section>

    <section id="content" class="bottommargin">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row">

                    {% if center.members | length > 0 %}
                    <div id="portfolio" class="portfolio portfolio-6 portfolio-nomargin portfolio-full portfolio-notitle clearfix" style="margin-bottom: -80px !important;">

                        {% for member in center.members %}
                        <div class="portfolio-item pf-media pf-icons" style="height:250px;">
                            <div class="img-responsive">
                                {% if member.avatar is null or member.avatar == '' %}
                                    <img class="img-responsive" src="{{ 'http://www.gravatar.com/avatar/'~((member.email |lower) | md5 )~'?s=250&d=identicon&r=PG' }}" />
                                {% else %}
                                    <img alt="" id="avatar" class="" src="{{ asset(member.avatar.webPath) }}" />
                                {% endif %}
                            </div>
                            <div class="portfolio-desc" style="bottom:0px;">
                                <h3>{{ member.firstname ~ ' ' ~ member.lastname }}</h3>
                                <span>{{ member.position }}</span>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    {% endif %}

                    </div>
                </div>
            </div>
    </section>

{% endblock %}

{% block footer_scripts %}{% endblock %}