{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block content %}
    <section id="slider" class="hero slider-parallax force-full-screen full-screen">
        <div class="slider-parallax-inner">
            <div class="force-full-screen full-screen dark" style="background: url('/bundles/website/images/bgs/hero-bg.jpg')center center; background-size: cover;">
                <div class="container clearfix">
                    <div class="slider-caption slider-caption-center">
                        <h1 data-animate="fadeInDown">{{ 'content.title' | trans() }}</h1>
                        <h2 data-animate="fadeInUp" data-delay="400">{{ 'content.subtitle' | trans() }}</h2>
                        <a href="{{ path('website_register_member') }}" class="button button-desc button-3d button-rounded center"><div>{{ 'content.register' | trans() }}</div><span>{{ 'content.register_extra' | trans }}</span></a>
                        {#<a href="{{ path('website_volunteer') }}" class="button button-desc button-3d button-rounded center"><div>{{ 'content.register_volunteer' | trans() }}</div><span>{{ 'content.register_volunteer_extra' | trans() }}</span></a>#}
                        <a href="{{ path('website_campaign_2') }}" class="button button-desc button-green button-3d button-rounded center"><div>Campania 2%</div><span>REDIRECŢIONEAZĂ 2% din impozitul pe venit</span></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Content
    ============================================= -->

    <!-- Harta -->
    <section id="content">
        <div class="promo promo-border promo-full bottommargin banner-partnership">
            <div class="container clearfix">
                <div class="row">
                    <div class="small-12 large-6 text-center">
                        <h3>un proiect în colaborare cu</h3>
                        <div class="small-12 large-3 partnership-logo">
                            <img src="{{ asset('/bundles/website/images/logo-GRASP.png') }}" alt="Grasp" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-wrap">
            <section id="section-harta" class="page-section">

                <div class="container clearfix">
                    <div class="heading-block center">
                        <h2>{{ 'content.sections.members' | trans() |raw }}</h2>
                        {{ 'content.sections.members_subtitle' | trans() |raw }}
                    </div>
                    <div id="map" style="height: 500px;"></div>
                </div>
             </section>

            <!-- Misiune -->
            {% include 'WebsiteBundle::Default/mission.html.twig' %}
            {#{% include 'WebsiteBundle::Default/mission_old.html.twig' %}#}

            <section id="video" class="page-section topmargin-lg section">
            {% include 'WebsiteBundle::Default/video.html.twig' %}

            {{ render(controller("WebsiteBundle:Default:numbers")) }}
            </section>

            {{ render(controller("WebsiteBundle:Default:zoneList")) }}

                    <!-- PROIECTE -->
            <section id="section-proiecte" class="page-section topmargin-lg section">
                <div class="heading-block center">
                    <h2>{{ 'content.sections.projects' | trans() }}</h2>
                    <span>{{ 'content.sections.projects_subtitle' | trans() }}</span>
                </div>

                <div class="container bottommargin-lg common-height">
                    <div class="col-md-6 projects-home project-home-1">
                        <div class="dark ohidden">
                            <h3 class="uppercase" style="font-weight: 600;">{{ 'content.sections.projects.get_involved' | trans() }}</h3>
                            {{ 'content.sections.projects.get_involved_message' | trans() | raw }}
                            <a href="{{ path('website_projects_list') }}" class="button button-border button-light button-rounded uppercase nomargin">{{ 'content.sections.projects.get_involved_btn' | trans() }}</a>
                            <i class="icon-cog bgicon"></i>
                        </div>
                    </div>

                    <div class="col-md-6 projects-home project-home-2">
                        <div class="dark ohidden">
                            <h3 class="uppercase" style="font-weight: 600;">{{ 'content.sections.projects.suggest' | trans() }}</h3>
                            {{ 'content.sections.projects.suggest_message' | trans() | raw  }}
                            <a href="{{ path('website_projects_new') }}" class="button button-border button-light button-rounded uppercase nomargin">{{ 'content.sections.projects.suggest' | trans() }}</a>
                            <i class="icon-bulb bgicon"></i>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
            </section>

            <section id="testimonials" class="page-section">
                <div class="heading-block center">
                    <h2>Testimoniale</h2>
                    <span>Vezi ce spun membrii nostri</span>
                </div>

                <div class="container bottommargin-lg common-height">
                    <ul class="testimonials-grid clearfix">
                    <li>
                        <div class="testimonial">
                            <div class="testi-image">
                                <img class="img-responsive" src="http://www.gravatar.com/avatar/cb2a86d1d531bc8cbb1de7b84252b7dc?s=250&amp;d=identicon&amp;r=PG" >
                            </div>
                            <div class="testi-content">
                                <p>Ma intereseaza modalitati de (re)conectare cu IT-isti plecati din Timisoara/Romania si de diseminare a informatiilor legate de activitati derulate in cadrul ecosistemului antreprenoriat tech din Timisoara.</p>
                                <div class="testi-meta">
                                    Radu Ticiu
                                    <span>Timisoara, Tech community facilitator</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial">
                            <div class="testi-image">
                                <img alt="" id="avatar" class="" src="/uploads/avatar/275ed25df9647b483b29856fe34ff839440ad20c.jpeg" >
                            </div>
                            <div class="testi-content">
                                <p>- pentru a afla despre initiativele si reusitele romanilor de pretutindeni - pentru a primi feedback la initiativele mele si pentru a da feedback acolo unde am experienta si pot ajuta - pentru a dezvolta business prin si impreuna cu romanii de peste hotare - pentru a dezvolta mediul antreprenorial, ecosistemul de startups si inovare </p>
                                <div class="testi-meta">
                                    Vlad Pasca
                                    <span>Cluj-Napoca, Business Development</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial">
                            <div class="testi-image">
                                <img alt="" id="avatar" class="" src="/uploads/avatar/7c333cb8ba744720e6a8f906f71a65258fe5dfba.jpeg" >
                            </div>
                            <div class="testi-content">
                                <p>Sunt foarte entuziasta ca acest grup s-a lansat, si as vrea sa ma implic si sa contribui. Pentru cei ca mine, din diaspora, asemenea retele sunt ideale pentru a afla despre oportunitati din Romania si cum putem sa ne implicam si sa colaboram cu colegii de acasa.</p>
                                <div class="testi-meta">
                                    Suciu Maria
                                    <span>Oxford, R&D Scientist in Genomics</span>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="testimonial">
                            <div class="testi-image">
                                <img class="img-responsive" src="http://www.gravatar.com/avatar/e831edeef0b0c98f96e081a92c546430?s=250&amp;d=identicon&amp;r=PG" >
                            </div>
                            <div class="testi-content">
                                <p>Exista foarte multi romani in IT in Londra dar cred ca legatura dintre ei nu este atat de stransa cum ar trebui sa fie si, in multe situatii, pur si simplu nu stiu unii de altii. Stiu ca multi dintre ei, printre care si eu, se gandesc sa se intoarca in tara sa isi inceapa un business sau sa se alature unui start up. </p>
                                <div class="testi-meta">
                                    Toader Matei
                                    <span>Londra, Technology Consultant</span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                </div>
            </section>

            {{ render(controller("WebsiteBundle:Default:listPartners")) }}

            {{ render(controller("WebsiteBundle:Default:contact")) }}
        </div>
    </section>
{% endblock %}

{% block footer_scripts %}
{{ parent() }}

    <script src="https://maps.google.fr/maps/api/js?language=ro&key=AIzaSyBZ3hzjzTCqiFED51f_lRENCd2LJ02Uo9I&libraries=places" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-marker-clusterer/1.0.0/markerclusterer_compiled.js"></script>

    <script src='https://www.google.com/recaptcha/api.js'></script>


    {{  render(controller( 'WebsiteBundle:Default:membersMap' )) }}

<script>
    $( document ).ready(function() {

        if ($('#map').length){
            google.maps.event.addDomListener(window, 'load', newMap('map', false));
        }

    });
</script>
{% endblock %}