<!-- Misiune -->
<section id="section-misiune" class="page-section">

    <div class="topmargin-lg bottommargin-lg mission-statement">
        <div class="heading-block center nobottomborder nobottommargin">
            <h2>Ne dorim sa dezvoltăm o comunitate care să funcționeze pe principiile opensource, open-exchange, open-participation.</h2>
        </div>
    </div>

    <div class="container clearfix">
        <div class="heading-block center">
            <h2>Misiune</h2>
            <!--							<span>Uniți de tehnologie și nu numai</span>-->
        </div>

        <div class="row clearfix">
            <div class="col-sm-12">
                <p class="text-center important">
                    Crearea unui ecosistem mondial al IT-ului românesc care să promoveze creativitatea, talentul și spiritul antreprenorial al acestui sector în lume și să îl aplice în folosul membrilor ecosistemului și al Romaniei în general.
            </div>
        </div>

        <div class="row topmargin-sm clearfix">
            <div class="col-md-6">
                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4><span>Cum</span> vom face asta?</h4>
                </div>
                <p>Comunitatea va funcționa în baza unei <strong>rețele de centre la nivel internațional,</strong> care vor reprezenta punctele de reuniune și de organizare de evenimente de networking, conferințe, meetup-uri și hackatons.</p>
                <p>Platforma de față și cele anexate ei sunt menite să devină <strong>principalul canal de comunicare, coordonare, informare și suport</strong> pentru întreaga comunitate. Scopul este de a încuraja <strong>colaborarea și dezvoltarea de relații</strong> între studenții, specialiștii, antreprenorii și potențialii investitori din sectorul IT.</p>
            </div>

            <div class="col-md-6">
                <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                    <div class="heading-block fancy-title nobottomborder title-bottom-border">
                        <h4><span>De ce </span> să devin membru?</h4>
                    </div>
                    <ul class="styled-list list-unstyled">
                        <li><strong>Sunt investitor</strong>: am acces la o <strong>plajă largă</strong> de idei de startup</li>
                        <li><strong>Sunt antreprenor</strong>: am acces la o <strong>comunitate globală</strong> de specialiști, antreprenori și investitori;</li>
                        <li><strong>Sunt specialist IT</strong>: am acces la un network social si profesional la nivel global<strong> </strong> </li>
                        <li><strong>Sunt student</strong>: am posibilitatea de a <strong>învăța, dezvolta relații de prietenie</strong> cu membri Romanian IT din întreaga rețea de centre la nivel global;</li>
                        <li><strong>Vreau să ajut</strong>: am posibilitatea de a mă implica în <strong>proiecte care reprezintă soluții pentru problemele</strong> comunității și societății românești.</li>
                    </ul>
                </div>
             </div>
            <div class="clearfix"></div>
             <div class="col-md-6">
                 <a href="{{ path('website_register_ambasador') }}" class="button button-desc button-3d button-rounded center"><div>{{ 'content.register_ambasador' | trans() }}</div><span>{{ 'content.register_ambasador_extra' | trans() }}</span></a>
             </div>
            <div class="col-md-6">
                <a href="{{ path('website_register_member') }}" class="button button-desc button-3d button-rounded center"><div>{{ 'content.register' | trans() }}</div><span>{{ 'content.register_extra' | trans() }}</span></a>
            </div>
        </div>


        {#<!-- video -->#}
        {#<div id="presentation-video" class="topmargin-lg">#}
            {#<iframe src="https://player.vimeo.com/video/180608332?color=c2c2c2&byline=0&portrait=0" width="640" height="400" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>#}
            {#<p><a href="https://vimeo.com/180608332">VINCE STAPLES - musical short film - by NABIL</a> from <a href="https://vimeo.com/nabilelderkin">nabil elderkin</a> on <a href="https://vimeo.com">Vimeo</a>.</p>#}
        {#</div>#}

    </div>
</section>