{% extends "WebsiteBundle::Structure/layout.html.twig" %}

{% block title %}RoIT: Membru Nou{% endblock %}

{% block custom_styles %}
    {% stylesheets
    'bundles/website/css/city-autocomplete.css'
    'bundles/website/css/components/radio-checkbox.css'
    output='style' filter='cssrewrite' -%}

    <link rel="stylesheet" type="text/css" media="screen, print" href="{{ asset_url }}" />
    {% endstylesheets -%}
{% endblock %}

{% block custom_script %}
    {% include 'WebsiteBundle::Partials/_linkedIn_connect.html.twig' %}
{% endblock %}


{% block menu_class %} navbar-shrink {% endblock %}


{% block nav_bar_menu %}
    <ul class="one-page-menu">
        <li class="hidden">
            <a href="#page-top"></a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_homepage') }}">{{ 'menu.home' | trans() }}</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_projects_list') }}">{{ 'menu.projects' | trans() }}</a>
        </li>
        <li>
            <a class="page-scroll" href="{{ path('website_projects_new') }}">{{ 'menu.suggest' | trans() }}</a>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <section id="page-title">

        <div class="container clearfix">
            <h1>Process Steps</h1>
            <span>Go through a Definite Process</span>
            <ol class="breadcrumb">
                <li><a href="#">Acasa</a></li>
                <li><a href="#">Inregistrare</a></li>
                <li class="active">Membru</li>
            </ol>
        </div>

    </section>

    <section id="content">

        <div class="content-wrap">

            <div class="container clearfix">

                <div id="processTabs">
                    <ul class="process-steps bottommargin clearfix">
                        <li>
                            <a href="#ptab1" class="i-circled i-bordered i-alt divcenter">1</a>
                            <h5>Ocupatie</h5>
                        </li>
                        <li>
                            <a href="#ptab2" class="i-circled i-bordered i-alt divcenter">2</a>
                            <h5>Profil</h5>
                        </li>
                        <li>
                            <a href="#ptab3" class="i-circled i-bordered i-alt divcenter">3</a>
                            <h5>Social</h5>
                        </li>
                        <li>
                            <a href="#ptab4" class="i-circled i-bordered i-alt divcenter">4</a>
                            <h5>Interese</h5>
                        </li>
                    </ul>
                    <div>
                        {% form_theme form "WebsiteBundle:Structure:form_row.html.twig" %}
                        {% import "WebsiteBundle:Structure:macros.html.twig" as formMacros %}

                        {{ form_start(form, {action: path('website_register_member'), multipart: true, attr: {name: 'register', id: 'contactForm', class: '', novalidate:'' } }) }}
                        <div id="ptab1">
                            <h3 class="center">Care este pozitia ta curenta?</h3>

                            <div class="col-md-6">
                                <div>
                                    <input id="checkbox-1" class="checkbox-style" name="checkbox-1" type="checkbox" >
                                    <label for="checkbox-1" class="checkbox-style-1-label">Web Development</label>
                                </div>
                                <div>
                                    <input id="checkbox-2" class="checkbox-style" name="checkbox-2" type="checkbox" >
                                    <label for="checkbox-2" class="checkbox-style-1-label">Mobile Development</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Servers Administration</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Analyst</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">DB Development & Administration</label>
                                </div>
                                <div>
                                    <input id="checkbox-6" class="checkbox-style" name="checkbox-6" type="checkbox" >
                                    <label for="checkbox-6" class="checkbox-style-1-label">Network/System Design & Administration</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Programming/Software Engineering</label>
                                </div>
                                <div>
                                    <input id="checkbox-5" class="checkbox-style" name="checkbox-5" type="checkbox" >
                                    <label for="checkbox-5" class="checkbox-style-1-label">Technical Support</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">QA/Testing</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Security</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Business Intelligence</label>
                                </div>
                                <div>
                                    <input id="checkbox-3" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                    <label for="checkbox-3" class="checkbox-style-1-label">Health IT</label>
                                </div>
                                <div>
                                    <input id="checkbox-4" class="checkbox-style" name="checkbox-4" type="checkbox">
                                    <label for="checkbox-4" class="checkbox-style-1-label">Management & Project Management</label>
                                </div>
                                <div>
                                    <input id="checkbox-5" class="checkbox-style" name="checkbox-5" type="checkbox" >
                                    <label for="checkbox-5" class="checkbox-style-1-label">Product Management</label>
                                </div>

                                <div>
                                    <input id="checkbox-5" class="checkbox-style" name="checkbox-5" type="checkbox" >
                                    <label for="checkbox-5" class="checkbox-style-1-label">Technical Writing</label>
                                </div>
                                <div>
                                    <input id="checkbox-5" class="checkbox-style" name="checkbox-5" type="checkbox" >
                                    <label for="checkbox-5" class="checkbox-style-1-label">Idea thrower, Investor, Evangelist</label>
                                </div>
                            </div>
                            <div class="line"></div>

                            <a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Mai departe</a>
                        </div>
                        <div id="ptab2">

                            <h3 class="center">Spune-ne despre tine</h3>

                            <div class="col-md-6 text-right">
                                <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
                                </fb:login-button>

                                <div id="status"> </div>
                            </div>

                            <div class="col-md-6 text-left">
                                <script type="in/Login"></script>
                            </div>
                            <div class="clearfix"></div><br>
                            <div class="col-md-6">
                                {{ form_row(form.avatar.file, { id: 'inputImage', attr: { accept: 'image/*' }, croppable: true }) }}
                                {{ form_row(form.firstname, {attr : {'data-validation-required-message' : 'Te rugăm  să îți introduci numele.' } }) }}
                                {{ form_row(form.lastname, {attr : {'data-validation-required-message' : 'Te rugăm  să îți introduci prenumele.' } }) }}
                                {#{{ form_row(form.position, {attr : {'data-validation-required-message' : 'Te rugăm  să îți introduci ocupatia actuala.' } }) }}#}
                                {{ form_row(form.email, {attr : {'data-validation-required-message' : 'Te rugăm  să îți introduci emailul.' } }) }}
                            </div>

                            <div class="col-md-6">
                                {{ form_row(form.telephone) }}
                                {{ form_row(form.country, {class: 'form-control' }) }}
                                {{ form_row(form.city, {attr : {'data-validation-required-message' : 'Te rugăm  să îți introduci orașul.', 'data-country' : 'RO' } }) }}
                                {{ form_row(form.center, {'label': 'Centru',class: 'form-control' }) }}
                            </div>

                            <div class="line"></div>

                            <a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Continua</a>

                        </div>
                        <div id="ptab3">
                            <h3 class="center">Unde te putem gasi?</h3>

                            <div class="col-md-6">
                            {{ form_row(form.twitter) }}
                            {{ form_row(form.facebook) }}
                            {{ form_row(form.linkedIn) }}
                            </div>

                            <div class="col-md-6">
                            {{ form_row(form.behance) }}
                            {{ form_row(form.git) }}
                            {{ form_row(form.website) }}
                            </div>


                            <div class="line"></div>
                            <a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
                            <a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Go on</a>
                        </div>
                        <div id="ptab4">
                            <h3 class="center">Cum ne-ai gasit si ce te-ar interesa?</h3>

                            <div class="col-md-6">
                            {{ form_row(form.reason, {class: 'form-control', attr : {'rows': 6, 'data-validation-required-message' : 'Vă rugăm introduceți un motiv.' } }) }}
                            </div>

                            <div class="col-md-6">
                                Ce subiecte te-ar interesa sa gasesti pe websiteul si blogul Romanian IT
                                <div class="row">
                                    <div class="col-md-6">
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-1" type="checkbox" >
                                            <label for="checkbox-4" class="checkbox-style-1-label">Antreprenoriat</label>
                                        </div>
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-2" type="checkbox" >
                                            <label for="checkbox-4" class="checkbox-style-1-label">Webinarii</label>
                                        </div>
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-3" type="checkbox" >
                                            <label for="checkbox-4" class="checkbox-style-1-label">Meetups</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-4" type="checkbox">
                                            <label for="checkbox-4" class="checkbox-style-1-label">Networking</label>
                                        </div>
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-5" type="checkbox" >
                                            <label for="checkbox-4" class="checkbox-style-1-label">Working abroad</label>
                                        </div>
                                        <div>
                                            <input id="checkbox-4" class="checkbox-style" name="checkbox-6" type="checkbox" >
                                            <label for="checkbox-4" class="checkbox-style-1-label">Antreprenoriat</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="line"></div>
                            <a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
                                {{ formMacros.submitFormButton('btn.save'| trans(), 'fright') }}
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>

                <div class="clear"></div>

                <div class="divider divider-center"><i class="icon-circle"></i></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    <script type="text/javascript">

        $(function() {
            $( "#processTabs" ).tabs({ show: { effect: "fade", duration: 400 } });
            $( ".tab-linker" ).click(function() {
                $( "#processTabs" ).tabs("option", "active", $(this).attr('rel') - 1);
                return false;
            });
        });

        $( "#member_country" ).change(function() {
            var countryCode = $( "#member_country option:selected").val();
            $('input#member_city').data('country', countryCode);
        });

        $('input#member_city').cityAutocomplete();
    </script>
{% endblock %}